<div class="container">
    <h6>
        <small class="text-muted">
Campeonatos Copa FB
        </small>
      </h6> 
<table class="table table-sm table-striped table-bordered table-hover">

 <thead class="table-success">
    <tr align="center">
      <th scope="col">Liga</th>

      <th scope="col">Torneo</th>
      <th scope="col">Categoria</th>
      <th scope="col">Año</th>
      

    </tr>
  </thead>
  <tbody>
      
      
      

  
  </tbody>
</table>

</div>