<div class="container p-4 mx-auto">

    <a href="#tablageneral" class="btn btn-success mt-1">Tabla General</a>
    <a href="#tablagoleo" class="btn btn-success mt-1">Tabla Goleo</a>
    <a href="#resuljornada" class="btn btn-success mt-1">Resultados por Jornada</a>
    <a href="#resulequipos" class="btn btn-success mt-1">Resultados por Equipos</a>
    <a href="/edpasado" class="btn btn-success mt-1">Tablas Historicas</a>
    
    </div>